@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100vh;
  background: #10002b;
  display: grid;
  justify-content: center;
  align-items: center;
  place-content: center;
}